.wrapper {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    
    .input {
        transition: all 0.8s ease;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        input {
            padding: 5px;
            height: 32px;
            width: 250px;
            border: none;
            background: #dbe2ef;
            &::placeholder {
                padding: 5px;
            }
        }
        button {
            cursor: pointer;
            background: #b3b6bb;
            border: none;
            width: 40px;
            height: 42px;
            border-radius: 0 5px 5px 0;
            &:hover {
                filter: brightness(0.8);
            }
        }
        &:hover {
            transform: translateY(-10px);
        }
    }
}